#nan{
    background-color: yellow;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#man{
    background-color: darkgreen;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background;
    color: thistle;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}

#man:hover{
    background-color: orangered;
    height: 200px;
    width: 200px;
    border-radius: 30px;
}