#man{
    display: flex;
    justify-content: center;
}
#nan{
    display: flex;
    justify-content: center;
}
#tan{
    display: flex;
}
.one{
    display: flex;
    transition: all 2s ease-in-out;
    background-color: black;
    height: 100px;
    width: 100px;
}
.one:hover{
    transform: rotate(260deg);
}
.two{
    display: flex;
    transition: all 2s ease-in-out;
    background-color:white;
    height: 100px;
    width: 100px;
}
.two:hover{
    transform: rotate(-260deg);
}
